.main_content-liste_etudiants-etudiant {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.card.etudiant.vide {
    font-size: 1.25em;
    font-weight: bold;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 10em;
}