.nav_links {
  height: 100%;

  display: flex;
  flex-direction: row;

  list-style: none;
}

.nav_links li {
  border-left: 1px solid rgba(34, 23, 83, 0.5);
}

.nav_links-button {
  padding: 0 1em;

  display: flex;
  align-items: center;

  height: 100%;

  color: #f4f4f4;
  text-decoration: none;
  font-size: 0.9em;
  text-align: center;
}

.nav_links-button:hover,
.nav_links-button:active,
.nav_links-button.active {
  background-color: rgba(0, 0, 0, 0.1);
}
