.form-radio-group {
    background-color: rgb(117, 90, 236);
    border-radius: 7.5px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 4em;

    margin-top: 2em!important;
}

.form-radio-group * {
    margin: 0!important;
}

.form-radio-group input {
    margin-right: 0.5em!important;
}