.main_content-liste_stages {
    list-style-type: none;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0;
}

.main_content-boutons {
    list-style-type: none;

    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: center;
    padding: 0;
}